.promotion-search__header{
    display: flex;
    justify-content:space-between;
    align-items:center;
}

.promotion-search__header, h1 {
    text-transform: uppercase;
    color: #888;
}


.promotion-search__input{
    display: flex;

}

.promotion-search__input, input{
    display: flex;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 97%;
    margin-bottom: 20px;
    padding: 0 10px;
    font-size: 13px;

}